.project-card {
	background: #ffffff;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	text-align: center;
}

.project-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-logo img {
	width: 70px;
	height: auto;
	margin-bottom: 15px;
}

.project-title {
	font-size: 1.3rem;
	font-weight: bold;
	color: #2c3e50;
	text-align: center;
	margin-bottom: 10px;
}

.project-description {
	text-align: left;
	font-size: 1rem;
	color: #555;
	margin-bottom: 15px;
	line-height: 1.5;
}

.project-description ul {
	list-style-type: disc;
	padding-left: 20px;
	margin: 0;
}

.project-description ul li {
	margin-bottom: 5px;
	text-decoration: none;
}

.project-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	color: #2980b9;
	text-decoration: none;
	transition: color 0.3s ease;
	cursor: pointer;
}

.project-link:hover {
	color: #1f6691;
}

.project-link-icon {
	margin-right: 6px;
}